# Ruta lógica estable del directorio de backups
BACKUP_DIR=/backups

# ==============================
# NAS CONFIGURATION
# ==============================
NAS_IP=TU_IP_DE_LA_NAS
NAS_SHARE=NOMBRE_DEL_RECURSO_COMPARTIDO
NAS_USER=TU_USUARIO
NAS_PASS=TU_CONTRASEÑA
NAS_VERSION=3.0

# ==============================
# APP CONFIG
# ==============================
# Opcional: roots permitidos (separados por coma)
# ALLOWED_BACKUP_ROOTS=/backups,/mnt/backup
ALLOWED_BACKUP_ROOTS=/backups
# Log del script
LOG_FILE=/backups/veeam_cleanup.log
