# Ruta lógica dentro del contenedor
BACKUP_DIR=/backups

# ==============================
# HOST MOUNT CONFIGURATION
# ==============================
# Ruta del host que se montará en /backups dentro del contenedor.
# Si montas Samba en el host, apunta aquí esa ruta montada.
BACKUPS_HOST_PATH=./backups

# ==============================
# APP CONFIG
# ==============================
# Opcional: roots permitidos (separados por coma)
# ALLOWED_BACKUP_ROOTS=/backups,/mnt/backup
ALLOWED_BACKUP_ROOTS=/backups
# Log del script
LOG_FILE=/backups/veeam_cleanup.log
